<mwl-calendar-month-view class="calendar-month-view" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="false"
                         [cellTemplate]="cellMonth"></mwl-calendar-month-view>

<p>{{events[0]?.title}}</p>
<ng-template #cellMonth let-day="day">
  <div class="calendar-cell event" *ngIf="day.events.length > 0;else emptyCell"
       [style.background-color]="getColor(day.events[0].color.primary, 0.15)">
    <div class="calendar-cell__header">
      <div class="calendar-cell__tag" [style.background-color]="day.events[0].color.primary">
        <app-event-header [event]="day.events[0]"></app-event-header>
      </div>
      <span class="calendar-cell__date">{{day.date | date: 'd'}}</span>
    </div>
    <div class="calendar-cell__event-description">
      <p>{{day.events[0].title | clipText:50}}</p>
    </div>
    <div class="calendar-cell__info">
      <a class="calendar-cell__count-events" *ngIf="day.badgeTotal > 1">
        <span>+{{day.badgeTotal - 1}}</span> event
      </a>
    </div>
  </div>
  <ng-template #emptyCell>
    <div class="calendar-cell">
      <div class="calendar-cell__header">
        <span class="calendar-cell__date">{{day.date | date: 'd'}}</span>
      </div>
    </div>
  </ng-template>
</ng-template>
